@{ Layout = null;}
@model IEnumerable<ProjetoCursoFeriasSMN.Web.Application.Model.Cliente>

@if (Model != null && Model.Any())
{
    foreach (var cliente in Model)
    {
        <tr data-codigoCliente="@cliente.CodigoCliente">
            <td>@cliente.Nome</td>
            <td>@cliente.Cpf</td>
            <td>@cliente.Telefone</td>
            <td>@cliente.Email</td>
            <td style="display: flex">
                <a class="btn-floating waves-effect waves-light red" onclick="DetalhesCliente(this)" data-position="bottom"
                   data-delay="50" data-tooltip="Detalhes">
                    <i class="material-icons">info</i>
                </a>
                <a class="btn-floating waves-effect waves-light red" onclick="EditaCliente(this)" data-position="bottom"
                   data-delay="50" data-tooltip="Editar">
                    <i class="material-icons">mode_edit</i>
                </a>
                <a class="btn-floating waves-effect waves-light red" onclick="ListaVendas(this)" data-position="bottom"
                   data-delay="50" data-tooltip="Vendas deste cliente">
                    <i class="material-icons">shopping_cart</i>
                </a>
                <a class="btn-floating waves-effect waves-light red" onclick="DeletaCliente(this)" data-position="bottom"
                   data-delay="50" data-tooltip="Deletar">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5">Nenhum registro encontrado</td>
    </tr>
}