@{ Layout = null;}
@model ProjetoCursoFeriasSMN.Web.Application.Model.Produto

<div id="modalEditarProduto" class="modal">
    <div class="modal-content">
        <h4 class="bold">Deseja mesmo deletar este produto? </h4>
        <div class="row">
            @Ajax.BeginForm("Salvar","Produto",new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "RecarregaGrid(data)",
                OnFailure = "Error(xhr)"
            }){
            <input type="hidden" id="codigoProduto" name="codigoProduto" value="@Model.CodigoProduto" />     
            <div class="row">
                <div class="input-field col s12">
                    <label for="txtIdProduto">Código do produto</label>
                    <input id="txtIdProduto" name="Id" type="text" disabled value="@Model.CodigoProduto">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="txtNomeProduto">Nome</label>
                    <input id="txtNomeProduto" name="Nome" type="text" value="@Model.Nome">
                </div>
                <div class="input-field col s6">
                    <label for="txtEstoque">Cpf</label>
                    <input type="number" name="estoque" id="txtEstoque" value="@Model.Estoque">
                </div>
            </div>
            }
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-light btn" href="#!" type="submit">
            <i class="material-icons left">create</i>Editar
        </a>
    </div>
</div>

<script>
    
    function RecarregaGrid(data) {
        //Exibindo um feedback de sucesso
        Materialize.Toast(data, 1000);

        //Fazendo a requisição no método que lista os produtos
        $.get('@Url.Action("Listar")').success(function (data) {
            $("#gridProdutos tbody").html(data).slideDown("fast");
        }).error(function (xhr) {
            Materialize.toast(xhr.responseText, 4000);
        });
    }

    function Error(xhr) {
        Materialize.toast(xhr.responseText, 5000);
    }

</script>
