@{ Layout = null;}
@model ProjetoCursoFeriasSMN.Web.Application.Model.Venda

<div id="modalDeletarVenda" class="modal">
    <div class="modal-content">
        <h3>Deseja mesmo deletar esta venda?</h3>
        <h4 class="bold">Venda número: @Model.CodigoVenda</h4>
        <div class="row">
            @Ajax.BeginForm("DeletarConfirma", "Venda", new AjaxOptions
            {
                HttpMethod = "Get",
                OnSuccess = "RecarregaGrid(data)",
                OnFailure = "Error(xhr)"
            }){
                <input type="hidden" value="@Model.CodigoVenda" name="codigoVenda" />
                <!--Informações básicas da venda-->
                <div class="row">
                    <div class="input-field col s6">
                        <label for="txtCodigoVenda">Código da venda:</label>
                        <input id="txtCodigoVenda" type="text" disabled value="@Model.CodigoVenda">
                    </div>
                    <div class="input-field col s6">
                        <label for="txtDataVenda">Data da venda:</label>
                        <input type="text" id="txtDataVenda" disabled value="@Model.DataVenda">
                    </div>
                </div>
                <!--Informações da entrega-->
                <div>
                    <h3>Endereço de entrega</h3>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="txtLogradouroVenda">Logradouro:</label>
                            <input type="text" id="txtLogradouroVenda" disabled value="@Model.Endereco.Logradouro">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="txtBairroVenda">Bairro:</label>
                            <input type="text" id="txtBairroVenda" disabled value="@Model.Endereco.Bairro">
                        </div>
                        <div class="input-field col s6">
                            <label for="txtCidadeVenda">Cidade:</label>
                            <input type="text" id="txtCidadeVenda" disabled value="@Model.Endereco.Cidade">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="txtCepVenda">Cep:</label>
                            <input type="text" id="txtCepVenda" disabled value="@Model.Endereco.Cep">
                        </div>
                        <div class="input-field col s6">
                            <label for="txtEstadoVenda">Estado:</label>
                            <input type="text" id="txtEstadoVenda" disabled value="@Model.Endereco.Estado">
                        </div>
                    </div>
                </div>
                <!--Informações do cliente-->
                <div>
                    <h3>Informações do cliente</h3>
                    <div class="row">
                        <div class="input-field col s4">
                            <label for="txtCodigoVenda">Codigo:</label>
                            <input id="txtCodigoVenda" type="text" disabled value="@Model.Cliente.CodigoCliente">
                        </div>
                        <div class="input-field col s4">
                            <label for="txtCpfCliente">Cpf:</label>
                            <input id="txtCpfCliente" type="text" disabled value="@Model.Cliente.Cpf">
                        </div>
                        <div class="input-field col s4">
                            <label for="txtEmailCliente">Email:</label>
                            <input id="txtEmailCliente" type="text" disabled value="@Model.Cliente.Email">
                        </div>
                    </div>
                    <!--Informações de endereço do cliente-->
                    <div>
                        <h3>Endereço d</h3>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="txtLogradouroCliente">Logradouro:</label>
                                <input type="text" id="txtLogradouroCliente" disabled value="@Model.Cliente.Endereco.Logradouro">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="txtBairroCliente">Bairro:</label>
                                <input type="text" id="txtBairroCliente" disabled value="@Model.Cliente.Endereco.Bairro">
                            </div>
                            <div class="input-field col s6">
                                <label for="txtCidadeCliente">Cidade:</label>
                                <input type="text" id="txtCidadeCliente" disabled value="@Model.Cliente.Endereco.Cidade">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="txtCepCliente">Cep:</label>
                                <input type="text" id="txtCepCliente" disabled value="@Model.Cliente.Endereco.Cep">
                            </div>
                            <div class="input-field col s6">
                                <label for="txtEstadoCliente">Estado:</label>
                                <input type="text" id="txtEstadoCliente" disabled value="@Model.Cliente.Endereco.Estado">
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Itens</h3>
                @foreach (var item in @Model.Itens)
                {
                    <div class="row">
                        <div class="input-field col s4">
                            <label for="txtIdProduto">Código do produto:</label>
                            <input id="txtIdProduto" type="text" disabled value="@item.CodigoProduto">
                        </div>
                        <div class="input-field col s4">
                            <label for="txtNomeProduto">Nome do produto:</label>
                            <input id="txtNomeProduto" type="text" disabled value="@item.Nome">
                        </div>
                        <div class="input-field col s4">
                            <label for="txtQuantidadeVendida">Quantidade comprada:</label>
                            <input id="txtQuantidadeVendida" type="text" disabled value="@item.QuantidadeVendida">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="txtPreco">Valor: R$</label>
                            <input id="txtPreco" type="text" disabled value="@item.Preco">
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-light btn" href="#!" type="submit">
            <i class="material-icons left">delete_forever</i>Confirma
        </a>
    </div>
</div>

<script>

    function RecarregaGrid(data) {
        $("#gridVendas tbody").slideUp("fast");

        //Exibindo um feedback de sucesso
        Materialize.Toast(data, 1000);

        //Fazendo a requisição no método que lista os produtos
        $.get('@Url.Action("Listar")')
            .done(function (data) {
                $("#gridVendas tbody").html(data).slideDown("fast");
            })
            .fail(function (xhr) {
                Materialize.toast(xhr.responseText, 4000);
            });
    }

    function Error(xhr) {
        Materialize.toast(xhr.responseText, 5000);
    }

    $('.modal').modal();

</script>
