@{ Layout = null;}
@model IEnumerable<ProjetoCursoFeriasSMN.Web.Application.Model.Cliente>

@if (Model != null && Model.Any())
{
    foreach (var cliente in Model)
    {
        <tr data-codigoCliente="@cliente.CodigoCliente">
            <td>@cliente.Nome</td>
            <td>@cliente.Cpf</td>
            <td>@cliente.Telefone</td>
            <td>@cliente.Email</td>
            <td style="float:right">
                <a class="btn-floating waves-effect waves-light red tooltipped" onclick="DetalhesCliente(this)" data-position="bottom"
                   data-delay="50" data-tooltip="Detalhes">
                    <i class="material-icons">info</i>
                </a>
                <a class="btn-floating waves-effect waves-light red tooltipped" onclick="EditaCliente(this)" data-position="bottom"
                   data-delay="50" data-tooltip="Editar">
                    <i class="material-icons">mode_edit</i>
                </a>
                <a class="btn-floating waves-effect waves-light red tooltipped" onclick="ListaVendas(this)" data-position="bottom"
                   data-delay="50" data-tooltip="Vendas deste cliente">
                    <i class="material-icons">shopping_cart</i>
                </a>
                <a class="btn-floating waves-effect waves-light red tooltipped" onclick="DeletaCliente(this)" data-position="bottom"
                   data-delay="50" data-tooltip="Deletar">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5">Nenhum registro encontrado</td>
    </tr>
}

<script>
    
    $(".tooltipped").tooltip({delay: 50});

    function DetalhesCliente(element) {
        var codigoCliente = $(element).closest("tr").attr("data-codigoCliente");

        //Carregando os dados da modal
        $.get('@Url.Action("DetalharCliente","Cliente")',
                {
                    codigoCliente: codigoCliente
                })
            .done(function (data) {
                $("#modalDetalharCliente").html(data);
                //Abrindo a modal
                $('#modalDetalhesCliente').modal("open");
                FocaInputs("#txtNomeDetalha, #txtCpfDetalha, #txtFoneDetalha, #txtEmailDetalha, #txtCepDetalha, #txtLogradouroDetalha, #txtBairroDetalha, #txtCidadeDetalha, #txtNumeroDetalha, #txtComplementoDetalha");
            }).fail(function (xhr) {
                Materialize.toast(xhr.responseText, 5000);
            });
    }

    function EditaCliente(element) {
        var codigoCliente = $(element).closest("tr").attr("data-codigoCliente");

        $.get('@Url.Action("Editar","Cliente")',
                {
                    codigoCliente: codigoCliente
                })
            .done(function (data) {
                $("#modalEditarCliente").html(data);
                $("#modalEdicaoCliente").modal("open");
                FocaInputs("#txtNomeEdicao, #txtCpfEdicao, #txtFoneEdicao, #txtCepEdicao ,#txtEmailEdicao, #txtLogradouroEdicao, #txtBairroEdicao, #txtCidadeEdicao, #txtNumeroEdicao, #txtComplementoEdicao");
            }).fail(function (xhr) {
                Materialize.toast(xhr.responseText, 5000);
            });
    }

    function DeletaCliente(element) {
        var codigoCliente = $(element).closest("tr").attr("data-codigoCliente");

        $.get('@Url.Action("Deletar","Cliente")',
                {
                    codigoCliente: codigoCliente
                })
            .done(function (data) {
                $("#modalDeletarCliente").html(data);
                $('#modalDeletaCliente').modal("open");
                FocaInputs("#txtNomeDeleta, #txtCpfDeleta, #txtFoneDeleta, #txtEmailDeleta, #txtCepDeleta, #txtLogradouroDeleta, #txtBairroDeleta, #txtCidadeDeleta, #txtNumeroDeleta, #txtComplementoDeleta");
            }).fail(function (xhr) {
                Materialize.toast(xhr.responseText, 5000);
            });
    }

    function ListaVendas(element) {
        var codigoCliente = $(element).closest("tr").attr("data-codigoCliente");

        $.get('@Url.Action("Listar","Venda")',
                {
                    codigoCliente: codigoCliente
                })
            .done(function (data) {
                $("#gridVendas tbody").html(data).slideDown("fast");
            }).fail(function (xhr) {
                Materialize.toast(xhr.responseText, 5000);
            });
    }

</script>
